table
{
    font-family: arial, fantasy;
    border-collapse: collapse;
    width: 100%;
}
td,th
{
    border: 1px solid brown;
    text-align: center;
    padding: 10px;
}
th
{
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    background-color: paleturquoise;
}


